html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  margin: 0;
  padding: 20px;
  max-width: 2400px;
  max-height: 1600px;
  font-family: 'Times New Roman';
  background-color: gainsboro;  
}

.keys {
  margin: 20vh auto;
  display: flex;
  flex-flow: row wrap; 
  justify-content: space-around;
  align-items: center;
}

.key {
  border: 2px solid black;
  border-radius: 100%;
  margin: 10px;
  font-size: 15px;
  padding: 10px 5px;

  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #ffc600;
}
